<section class="client_container">
    <% if flash[:notice] %>
    <h2 class="notice"><%= flash[:notice] %></h2>
  <% end %>
  <div class="client_box">
    <h1>取引先一覧</h1>
  </div>
  <div>
    <table>
      <tbody class="client_table">
        <tr>
          <th>企業名</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
        </tr>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.cilent_name %></td>
            <td><%= client.phone_num %></td>
            <td><%= client.client_email %></td>
            <td><%= client.user_id %></td>
            <td><%= link_to '編集', [:edit, client], :onclick=>"window.open(this.href,'hoge', 'height=400, width=800');return false;", rel: "noopener noreferrer" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
      <%= link_to new_client_path, 
:onclick=>"window.open(this.href,'hoge', 'height=400, width=800');return false;", rel: "noopener noreferrer" do %>
    <button class="client_registration">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
        </svg>
        取引先新規登録
      </span>
    </button>
  <% end %>
</section>
