<section class="product_container">
  <div><h2>商品登録確認画面</h2></div>
  <%= form_with model: @product, url: products_path do |f| %>
    <div class="product_new_field">
      <%= f.label :order_date, '発注日' %>
      <%= f.text_field :order_date, value: @product.order_date, readonly: true %>
    </div>
    <div class="product_new_field">
      <%= f.label :product_name, '商品名' %>
      <%= f.text_field :product_name, value: @product.product_name, readonly: true %>
    </div>
    <div class="product_new_field">
      <%= f.label :product_price, '金額' %>
      <%= f.text_field :product_price, value: @product.product_price, readonly: true %>
    </div>
    <div class="product_new_field">
      <%= f.label :product_quantity, '数量' %>
      <%= f.text_field :product_quantity, value: @product.product_quantity, readonly: true %>
    </div>
    <div class="product_new_field">
      <%= f.label :product_type, '種類' %>
      <%= f.hidden_field :product_type, value: @product.product_type, readonly: true %>
    </div>
    <div>
      <%= f.submit t('修正する'), name: :back %><br />
      <%= f.submit t('登録する') %>
    </div>
  <% end %>
</section>
