<section class="product_container">
  <div class="product_box">
    <h1>商品一覧</h1>
    <div class="product_registration">
      <p><%= link_to '商品新規登録', new_product_path %></p>
    </div>
  </div>
  <div>
    <tbody>
      <%= @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.date %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </div>

</section>
