<section class="user_container">
  <div class="user_form">
    <h2>入力情報の確認</h2>
    <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <p><%= f.label :name %><br />
        <%= f.text_field :name, value: @user.name, readonly: true %></p>
      </div>
      <div class="field">
        <p><%= f.label :email %><br />
        <%= f.text_field :email, value: @user.email, readonly: true %></p>
      </div>
      <div class="field">
        <p><%= f.label :password %><br />
        <%= blind(@user.password) %>
        <%= f.hidden_field :password, value: @user.password %>
      </div>
      <%= f.submit t('.back'), name: :back %><br />
      <%= f.submit t('users.registrations.new.sign_up') %>
    <% end %>
  </div>
</section>
