<section class="user_container">
  <div class="user_form">
    <h2><%= t('users.registrations.new.sign_up') %></h2>
    <%= form_with model: @user, url: users_sign_up_confirm_path(@user), local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <div>
          <%= f.label :name %>
        </div>
        <div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: '○○店' %>
        </div>
      </div>
      <div class="field">
        <div>
          <%= f.label :email %>
        </div>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'e-mail.com' %>
        </div>
      </div>
      <div class="field">
        <div>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
          <% end %>
        </div>
        <div class="input-wrap">
          <%= f.password_field :password, autocomplete: "new-password"%>
          <i class="toggle-pass fa fa-eye-slash"></i>
        </div>
      </div>
      <div class="field">
        <div>
          <%= f.label :password_confirmation %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit t('.sign_up') %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</section>
